flask
flask-sqlalchemy
flask-migrate
flask-bcrypt
flask-wtf
flask-login
flask-admin
flask-limiter
flask-caching
flask-socketio
flask-oauthlib
wtforms
Authlib
python-dotenv
gunicorn
email-validator
huggingface_hub
matplotlib
seaborn
pandas
SQLAlchemy
pillow
werkzeug
