*{
    margin: 0;
    padding: 0;
    transition: .5s;
    font-family:"Poppins", serif;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}
::-webkit-scrollbar{
    display: none;
}
section{
    height: 100vh;
    width: 100%;
}
nav{
    display: flex;
}
#Page1{
    background-color: #0e0b0f;
    display: flex;
    flex-direction: column;
}
.nav-wrapper{
    position:sticky;
    margin-top: 10px;
    align-items: center;
    height: 50px;
    width: 160px;
    border-radius: 30px;
    background-color: #222222;
    position: absolute;
    left: 44.5%;
    display: flex;
    border: solid 3px #222222;
}
.nav-wrapper :nth-child(3){
    margin-right: 0;
}
.nav-wrapper a{
  text-decoration: none;
}
.icon-wrapper{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-right: 5px;
    color: white;
    text-align: center;
    line-height: 1.5;
    font-size:x-large;
    background-color: #1d1c1d;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
.icon-wrapper:hover{
    background: linear-gradient(#fefdfe,#686868);
    transform: translateY(-10px);
}
.icon1:hover .temp1{
   display: none;
}
.icon{
    display: none;
    position: absolute;
}
.home{
    height: 10px;
    width: 10px;
    margin-left: 18px;
    margin-top: 20px;
}
.chat{
    height: 10px;
    width: 10px;
    margin-left: 18px;
    margin-top: 20px;
}
.teach{
    height: 15px;
    width: 15px;
    margin-left: 15px;
    margin-top: 18px;
}
.icon1:hover .home{
    display: flex;
}

.icon2:hover .temp2{
    display: none;
}

.icon2:hover .chat{
    display: flex;
}

.icon3:hover .temp3{
    display: none;
}

.icon3:hover .teach{
    display: flex;
}
.logo-menu-wrapper{
    position: absolute;
    right: 50px;
    display: flex;
    margin-top: 17px;
    height: 50px;
    width: 105px;
    border-radius: 30px;
    background-color: #222222;
}
.logo{
    height: 45px;
    width: 45px;
    background-color: #2e2e2e;
    border-radius: 100%;
    margin-left: 5px;
    margin-top: 2px;
}
.logo img{
    height: 50px;
    width: 50px;
    margin-left: -3px;
    margin-top: -3px;
}
.menu{
    height: 45px;
    width: 45px;
    background-color: #2e2e2e;
    border-radius: 100%;
    margin-left: 5px;
    margin-top: 2px;
}
.menu img{
    height: 20px;
    width: 20px;
    margin-left: 14px;
    margin-top: 12px;
}
.Contributers{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.green-dot{
    font-size: xx-large;
    color: greenyellow;
    margin-top: -20px;
    margin-right: 10px;
}
.client-cards{
    display: flex;
}
.card{
    position: relative;
    height: 90px;
    width: 150px;
    border-radius: 5px;
    background: linear-gradient(to left, #241121,#0e0b0f);
    margin-left: 20px;
}
.user-profile{
    display: flex;
    margin-top: 10px;
}
.user-pfp{
    height: 20px;
    width: 20px;
    margin-left: 20px;
}
.user-profile h1{
    font-size: 15px;
    font-weight: 400;
    margin-left: 10px;
}
.card-details{
    display: flex;
    flex-direction: column;
}
.indicator{
    height: 10px;
    width: 10px;
    margin-left: 5px;
}
.percentage{
    display: flex;
    align-items: center;
    margin-left: 40px;
    font-size: 10px;
    height: fit-content;
    width: fit-content;
    background-color: white;
    border-radius: 30px;
}
.info-slider-wrapper{
    position: relative;
    left: 41%;
    top: -2%;
    height: 20px;
    width: 250px;
    background:linear-gradient(to right,#33172f,#0e0b0f00,#33172f);
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.info-slider{
    z-index: 102;
    max-width: 200px;
    margin-left: 20px;
    overflow: hidden;
    white-space: nowrap;
}
.info-text{

    animation: slider 10s linear infinite;
}
@keyframes slider{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-150%);
    }
}
.Hero-Part{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}
.Hero-Pic-wrapper{
    display: flex;
    position:relative;
    align-items: center;
    margin-left: 350px;
}
.Hero-Picture{
    height: 50px;
    width: 50px;
    margin-right: 20px;
}
.Hero-Text{
    font-size: 40px;
    font-weight: 300;
    color: white;
    margin-left: 490px;
    margin-top: -10px;
}

.colors-wrapper{
    position: absolute;
    height: 400px;
    width: 100%;
    top: 39%;
}
.purple{
    z-index: 100;
    position: relative;
    height: 200px;
    background: linear-gradient(0deg,#0e0b0f00,#bb29817c,#0e0b0f00);
}
.blue{
    z-index: 100;
    position: relative;
    margin-top: -150px;
    height: 200px;
    background: linear-gradient(180deg,#0e0b0f0c,#311747,#0e0b0f50);
}
.Visualizer{
    z-index: 3;
    position: absolute;
    height: 450px;
    width: 400px;
    left: 34%;
    top: -30%;
}

.upload{
    z-index: 101;
    margin-top: -40px;
    margin-left: 10px;
    height: 200px;
    width: 100px;
    border-radius: 20px;
    border: dashed 2px rgba(255, 255, 255, 0.514);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upload:hover{
  border: dashed 2px rgb(255, 255, 255);
  transform: scale(1.02);
}
.download-icon{
    height: 20px;
    width: 20px;
}
.download{
    z-index: 101;
    position: absolute;
    right: 0;
    top: 40%;
    height: 200px;
    width: 100px;
    margin-right: 10px;
    border-radius: 20px;
    border: solid 2px rgba(255, 255, 255, 0.219);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.download:hover{
  border: solid 2px rgb(255, 255, 255);
  transform: scale(1.02);
}
.Service-text{
    z-index: 101;
    height: 20px;
    width: fit-content;
    margin-left: 580px; 
}
.Service-text::before{
    content: '';
    position: absolute;
    background: linear-gradient(to left,#0e0b0f25,#a11d80,#0e0b0f23);
    height: 1px;
    width: 300px;
    top: 72%;
    margin-left: -70px;
}
.scrolldown {
    --color: white;
    --sizeX: 30px;
    --sizeY: 50px;
    position: relative;
    width: var(--sizeX);
    height: var(--sizeY);
    margin-left: var(sizeX / 2);
    border: calc(var(--sizeX) / 10) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 16px;
    cursor: pointer;
    margin-left: 650px;
    margin-top: 50px;
  }
  
  .scrolldown::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #2a547066;
  }
  
  @keyframes scrolldown-anim {
    0% {
      opacity: 0;
      height: 6px;
    }
  
    40% {
      opacity: 1;
      height: 10px;
    }
  
    80% {
      transform: translate(0, 20px);
      height: 10px;
      opacity: 0;
    }
  
    100% {
      height: 3px;
      opacity: 0;
    }
  }
  
  .chevrons {
    padding: 6px 0 0 0;
    margin-left: -3px;
    margin-top: 48px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chevrondown {
    margin-top: -6px;
    position: relative;
    border: solid var(--color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
  }
  
  .chevrondown:nth-child(odd) {
    animation: pulse54012 500ms ease infinite alternate;
  }
  
  .chevrondown:nth-child(even) {
    animation: pulse54012 500ms ease infinite alternate 250ms;
  }
  
  @keyframes pulse54012 {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 0.5;
    }
  }
#Page2{
    background:linear-gradient(to top,#311747,#0e0b0f);
    display: flex;
}
.Chatbot-Card{
    position: absolute;
    right: 2%;
    margin-top: 100px;
    height: 500px;
    width: 350px;
    border-radius: 10px;
    background-color: #0e0b0f;
    display: flex;
    flex-direction: column;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
.Chatbot-Card nav{
    height: 50px;
    width: 100%;
    background-color: black;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
.pfp{
    height: 40px;
    width: 40px;
    border-radius: 100%; 
    margin-left: 20px;
}
.pfp1{
  height: 50px;
  width: 50px;
  background-color: #000;
  border-radius: 100%;
}
.Chatbot-Card p{
  color: white;
  margin-top: 11px;
  margin-left: 10px;
}
.Chat{
    height: 400px ;
    background: linear-gradient(to top,#311747,#0e0b0f);
}
.Chat-input{
    height: 50px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    background-color: rgb(0, 0, 0);
    display: flex;
}
.messageBox {
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    padding: 0 15px;
    border-radius: 10px;
    border: 1px solid rgb(63, 63, 63);
    margin-left: 10px;
    margin-top: 3px;
  }
  .messageBox:focus-within {
    border: 1px solid rgb(255, 255, 255);
  }
  .fileUploadWrapper {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #file {
    display: none;
  }
  .fileUploadWrapper label {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .fileUploadWrapper label svg {
    height: 18px;
  }
  .fileUploadWrapper label svg path {
    transition: all 0.3s;
  }
  .fileUploadWrapper label svg circle {
    transition: all 0.3s;
  }
  .fileUploadWrapper label:hover svg path {
    stroke: #fff;
  }
  .fileUploadWrapper label:hover svg circle {
    stroke: #fff;
    fill: #3c3c3c;
  }
  .fileUploadWrapper label:hover .tooltip {
    display: block;
    opacity: 1;
  }
  .tooltip {
    position: absolute;
    top: -40px;
    display: none;
    opacity: 0;
    color: white;
    font-size: 10px;
    text-wrap: nowrap;
    background-color: #000;
    padding: 6px 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.596);
    transition: all 0.3s;
  }
  #messageInput {
    width: 200px;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 10px;
    color: white;
  }
  #messageInput:focus ~ #sendButton svg path,
  #messageInput:valid ~ #sendButton svg path {
    fill: #3c3c3c;
    stroke: white;
  }
  
  #sendButton {
    width: fit-content;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
  }
  #sendButton svg {
    height: 18px;
    transition: all 0.3s;
  }
  #sendButton svg path {
    transition: all 0.3s;
  }
  #sendButton:hover svg path {
    fill: #3c3c3c;
    stroke: white;
  }
.mic-button{
    position: absolute;
    right: 3%;
    bottom: 2%;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: solid 1px #3c3c3c;
}
.mic-icon{
    height: 20px;
    width: 20px;
    margin-left: 9px;
    margin-top: 5px;
}
.Main-Text{
  display: flex;
  align-items: center;
}
.Main-Text::before{
  content: '';
  height: 2px;
  width: 300px;
  background: white;

}
#Page3{
  background: linear-gradient(to bottom,#311747,#0e0b0f);
}
.Feedback-text{
  display: flex;
  position: absolute;
  right: 2px;
  top: 1720px;
  align-items: center;
}
.Feedback-text::after{
  content: '';
  height: 2px;
  width: 300px;
  background: white;
}
.Feedback-Card{
  position: absolute;
  height: 500px;
  width: 400px;
  background: linear-gradient(to bottom,#311747,#0e0b0f);
  border-radius: 10px;
  left: 50px;
  top: 1490px;
}
.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 180px;
  margin-left: 40px;
  margin-top: 80px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ffffff;
  outline: 0;
  font-size: 17px;
  color: #808080;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #707070;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.form {
  --width-of-input: 200px;
  --border-height: 1px;
  --border-before-color: rgb(221, 221, 221);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
  margin-left: 40px;
  margin-top: 110px;
 }

 .input {
  color: #fff;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
 }

 .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
 }

 input:hover {
  background: var(--input-hovered-color);
 }
 
 input:focus {
  outline: none;
 }

 input:focus ~ .input-border {
  width: 100%;
 }

 .button-container {
  --background: #fefbff;
  --inner-shadow: #9faef9;
  --inner-outline: #34217d;
  --inner-outline-bottom: #fafcfe;
  --inner-outline-middle: #8880d5;
  --inner-outline-outer-top: #fefcff;
  --inner-outline-outer-bottom-1: #29107b;
  --line-1: #8676c9;
  --line-2: #5c69ca;
  position: relative;
  background: var(--background);
  cursor: pointer;
  transition: all 0.2s;
  font-size: 17px;
  margin-top: 90px;
  margin-left: 80px;
  width: 150px;
  padding: 0.7em 1.8em;
  border-radius: 5px;
  box-shadow: inset 0px 1px 8px 1px var(--inner-shadow),
    0px 2px 0px 0px var(--inner-outline-bottom),
    0px -2px 0px 0px var(--inner-outline),
    -2px -2px 0px 0px var(--inner-outline),
    2px -2px 0px 0px var(--inner-outline),
    0px 0px 0px 6px var(--inner-outline-middle),
    0px -2px 0px 7px var(--inner-outline-outer-top),
    0px 4px 0px 7px var(--inner-outline-outer-bottom-1);
}

.button-lines {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.button-line-1 {
  height: 0.2em;
  width: 4em;
  border-radius: 10em;
  display: inline-block;
  background: var(--line-1);
}

.button-line-2 {
  height: 0.2em;
  width: 3em;
  border-radius: 10em;
  display: inline-block;
  background: var(--line-2);
}

