.toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 20px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 250px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
}

.toast.show {
    background-color: #926fa9; 
    opacity: 1;
    visibility: visible;
}

.toast.success {
    background-color: #28a745; 
    box-shadow: 0 4px 15px rgba(40, 167, 69, 0.7);
    animation: toastIn 0.1s ease-in-out, toastOut 0.1s ease-in-out .1s forwards;
}

.toast.error {
    background-color: #e74c3c; 
    box-shadow: 0 4px 15px rgba(231, 76, 60, 0.7);
    animation: toastIn 0.1s ease-in-out, toastOut 0.1s ease-in-out .1s forwards;
}

.toast i {
    margin-right: 10px;
    font-size: 20px;
}

.toast .message {
    flex-grow: 1;
    font-size: 16px;
    font-weight: 600;
}