{% extends "admin/base_admin.html" %}
{% block body %}
<div class="main-content">
    <div class="container mt-4">
        <h2>Edit User</h2>
        
        <form method="POST" action="{{ url_for('user.edit',user_id=user.id) }}">
            {{ form.hidden_tag() }}

            <div class="form-group">
                <label>{{ form.id.label }}</label>
                {{ form.id(class="form-control") }}
            </div>

            <div class="form-group">
                <label>{{ form.name.label }}</label>
                {{ form.name(class="form-control") }}
            </div>

            <div class="form-group">
                <label>{{ form.email.label }}</label>
                {{ form.email(class="form-control") }}            
            </div>
            
            <div class="form-group">
                <label >{{ form.picture.label.text|underscore_separate }}</label>
                {{ form.picture(class="form-control") }}            
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}