<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
   <div class="menu-bar">
    <div style="display: flex;align-items: center;"><a href="HomePage.html"><img src="../static/img/logo.png" class="logo"></a><div class="popup-msg"><p style="font-size: 10px;text-align: center;margin-top: 5px;">ECHO</p></div></div>
    <ul>
      <a href="../templates/HomePage.html"><li><img src="../static/img/home.png" class="Menu-icon"><p>Home</p></li></a>
      <a href="../templates/HomePage.html"><li><img src="../static/img/chat.png" class="Menu-icon"><p>Chat</p></li></a>
      <a href=""><li><img src="../static/img/support.png" class="Menu-icon"><p>Contact</p></li></a>
    </ul>
  </div>
  <div class="Main">
    <div class="Section-Indicator">
      <h1 style="color: white;font-weight: 400;">Profile</h1>
    </div>
    <div class="Data-stats"><h3 style="color: white;margin-left: 20px;margin-top: 10px;font-weight: 400;">Data-stats</h3></div>
    <div class="Profile-card">
      <div class="pfp"></div>
      <div class="modify"><img src="../static/img/modify.png" class="icon"><p></p>
    </div>
         <button id="editProfileBtn">Edit Profile</button>


    <div id="profileModal" class="modal">
        <div class="modal-content">
            <span id="closeBtn" class="close">&times;</span>
            <h2>Edit Profile</h2>
            <form id="profileForm">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Enter your name">

                <label for="email">Password:</label>
                <input type="password" id="email" name="email" placeholder="Enter your Password">
                <button type="submit">Save Changes</button>
            </form>
        </div>
    </div>

         <script src="../static/js/User-info.js"></script>
    </div>
    </div>
    
  </div>
</body>
</html>